#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  max-width: 100%;
  margin: auto;
  background-color: #05292E;
}

span {
  margin: 2.5rem;
}

.location-card {
  width: 100%;
  margin: auto;
  padding: 1rem 0;
  background: #062226;
}

.resident-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 50%;
  margin: auto;
}

.banner {
  position: relative;
  width: 100vw;
  height: 372px;
  margin: auto;
  background: url(./assets/banner.png);
  background-size: cover;
  background-position: center;
}

.overlay {
  position: relative;
  top: 25%;
  width: 454px;
  margin: auto;
  background: url(./assets/overlay.png);
}

footer {
  margin: 3rem;
  color: #7e7e7e;
  font-size: 1rem;
  font-weight: 500;
}